html {
    background: url(../img/nebula-dark.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
	margin: 0;
    color: #ccc;
    font-family: "Open Sans", sans-serif;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

canvas.galaxy {
	position: absolute;
	top: 0;
	left: 0;
}

.title-container {
    visibility: hidden;
}