body {
	margin: 0;
	background-color: #333;
}

a {
	text-decoration: none;
	color: inherit;
	font-weight: 800;
}

a:hover {
	text-decoration: underline;
}

canvas {
	position: absolute;
	top: 0;
	left: 0;
}

.title-container {
    visibility: hidden;
}