body {
	margin: 0;
	background-color: black;
}

.stars {
	position: fixed;
	top: 0;
}
.star {
	position: absolute;
}

.logo-container {
	position: relative;
	width: 400px;
	height: 400px;
	margin: 0 auto;
	-webkit-perspective: 600px;
	-moz-perspective: 600px;
	-ms-perspective: 600px;
	-o-perspective: 600px;
	perspective: 600px;
}

.logo {
	display: none;
}

.content {
	position: relative;
}

.launch {
	font-family: sans-serif;
	color: #aaa;
	text-align: center;
}