
#nav
  position: fixed
  width: 100%
  top: 0
  display: flex
  left: 0
  background-color: rgba(0, 0, 0, 0.2)
  margin-top: -86px
  transition: all 0.6s

  &.at-top
    background-color: rgba(0, 0, 0, 0)

  &.visible
    margin-top: 0

  .navLogo
    padding: 8px
    opacity: 0

    &.visible
      opacity: 1

  nav
    align-items: center
    display: flex
    margin-left: auto
    font-family: $font-sans
    font-size: 22px
    font-weight: 800

    ul
      margin-right: 34px

      li
        list-style: none

        a
          text-decoration: none
          text-transform: uppercase
          letter-spacing: 0.08em

  path
    $pathHover()