@media (max-width: 640px) {
  .solar-system {
    position: relative;
    width: 300px;
    height: 100px;
  }

  .saturnian-rings {
    box-shadow: 0 0 4px .5px black; 
  }
}
@media (min-width: 641px) and (max-width: 960px) {
  .solar-system {
    position: relative;
    width: 600px;
    height: 200px;
  }

  .saturnian-rings {
    box-shadow: 0 0 8px 1px black; 
  }
}
@media (min-width: 961px) {
  .solar-system {
    position: relative;
    width: 900px;
    height: 300px;
  }

  .saturnian-rings {
    box-shadow: 0 0 8px 1px black; 
  }
}
.celestial-body {
  -webkit-animation-duration: .4s;
          animation-duration: .4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  background-color: white;
  border-radius: 600px;
  visibility: hidden;
}
.planet {
  -webkit-animation-name: planet-populate;
          animation-name: planet-populate;
}
@-webkit-keyframes planet-populate {
  from {
    visibility: visible;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  75% {
    -webkit-transform: scale(1.8);
            transform: scale(1.8);
  }
  to {
    visibility: visible;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes planet-populate {
  from {
    visibility: visible;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  75% {
    -webkit-transform: scale(1.8);
            transform: scale(1.8);
  }
  to {
    visibility: visible;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes sun-populate {
  from {
    visibility: visible;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  75% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  to {
    visibility: visible;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes sun-populate {
  from {
    visibility: visible;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  75% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  to {
    visibility: visible;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
.sun {
  -webkit-animation-name: sun-populate;
          animation-name: sun-populate;
  width: 33.3%;
  height: 100%;
}
.mercury {
  width: 0.4%;
  height: 1.2%;
  position: absolute;
  top: 49.4%;
  left: 34.8%;
  -webkit-animation-delay: .11s;
          animation-delay: .11s;
}
.venus {
  width: 0.7%;
  height: 2.1%;
  position: absolute;
  top: 48.95%;
  left: 36%;
  -webkit-animation-delay: .22s;
          animation-delay: .22s;
}
.earth {
  width: 0.9%;
  height: 2.7%;
  position: absolute;
  top: 48.65%;
  left: 37.2%;
  -webkit-animation-delay: .33s;
          animation-delay: .33s;
}
.mars {
  width: 0.4%;
  height: 1.2%;
  position: absolute;
  top: 49.4%;
  left: 38.8%;
  -webkit-animation-delay: .44s;
          animation-delay: .44s;
}
.jupiter {
  width: 3%;
  height: 9%;
  position: absolute;
  top: 45.5%;
  left: 47%;
  -webkit-animation-delay: .55s;
          animation-delay: .55s;
}
.saturn {
  width: 2.6%;
  height: 7.8%;
  position: absolute;
  top: 46.1%;
  left: 58%;
  -webkit-animation-delay: .66s;
          animation-delay: .66s;
}
.saturnian-rings {
  left: 56.8%;
  width: 5%;
  height: 1%;
  position: absolute;
  background-color: white;
  border-radius: 25px;
  -webkit-animation-name: ring-toss;
          animation-name: ring-toss;
  -webkit-animation-duration: .8s;
          animation-duration: .8s;
  -webkit-animation-delay: .88s;
          animation-delay: .88s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  visibility: hidden;
}
@-webkit-keyframes ring-toss {
  from {
    top: 25%;
    -webkit-transform: rotate(50deg);
            transform: rotate(50deg);
    visibility: visible;
  }
  25% {
    top: 55%;
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  50% {
    top: 49.6%;
    -webkit-transform: rotate(40deg);
            transform: rotate(40deg);
  }
  75% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  to {
    top: 49.6%;
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
    visibility: visible;
  }
}
@keyframes ring-toss {
  from {
    top: 25%;
    -webkit-transform: rotate(50deg);
            transform: rotate(50deg);
    visibility: visible;
  }
  25% {
    top: 55%;
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  50% {
    top: 49.6%;
    -webkit-transform: rotate(40deg);
            transform: rotate(40deg);
  }
  75% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  to {
    top: 49.6%;
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
    visibility: visible;
  }
}
.neptune {
  width: 1.6%;
  height: 4.8%;
  position: absolute;
  top: 47.6%;
  left: 78.2%;
  -webkit-animation-delay: .77s;
          animation-delay: .77s;
}
.uranus {
  width: 1.6%;
  height: 4.8%;
  position: absolute;
  top: 47.6%;
  left: 98.4%;
  -webkit-animation-delay: .88s;
          animation-delay: .88s;
}
