.content-wrap
  position relative
  text-align: center
  font-size: 28px
  line-height: 28px

@media (min-width: 1023px)
  .content-wrap
    margin: 0 auto
    width: 768px
  
@media (max-width: 1023px) and (min-width: 768px)
  .content-wrap
    margin: 0 96px

@media (max-width: 767px)
  .content-wrap
    margin: 0 32px
