section#about
  | Hi, I'm Chris. I have been writing software since the early aughts and have worked on everything from non-profit legal projects to the biggest ecommerce site in Canada. I am currently creating solutions at Ping Identity as a development engineer. Among other things I am a dad, husband, humanist, nature lover, music maker, and space nerd.