section#about
  p Hi, I'm Chris. I have been writing software since the mid aughts and have worked on everything from non-profit legal projects to the biggest ecommerce site in Canada. I am currently creating solutions at Ping Identity as a development engineer. While software development is my passion, I also enjoy creating compelling visual designs and memorable user experiences.
  p Other hats worn include: dad, husband, humanist, nature lover, music maker, doodler, and space nerd.