
mixin author(authorName)
    - var author = contents.authors[authorName + '.json'];
    - var imgSize = 96;
    div.author
        img(src=author.metadata.src, width=imgSize, height=imgSize)
        div.text
            //- p.name
            //-     if author
            //-         a(href='mailto:' + author.metadata.email)= author.metadata.name
            //-     else
            //-         = authorName

            p.bio
                = author.metadata.bio
            
            div.social
                span
                    a.twitter(href="//twitter.com/c_concat_p")
                span
                    a.email(href="mailto:" + author.metadata.email)
