
mixin author(authorName)
    - var author = contents.authors[authorName + '.json'];
    - var imgSize = 96;
    div.author
        img(src=author.metadata.src, width=imgSize, height=imgSize)
        div.text
            p.bio
                = author.metadata.bio
            div.social
                span
                    a.twitter(href="//twitter.com/c_concat_p/")
                span
                    a.github(href="//github.com/bildepunkt/")
                span
                    a.email(href="mailto:" + author.metadata.email)
