header
  .hero
    .logo
      svg(version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0" y="0" width="158" height="272" viewBox="0, 0, 300.941, 519.333")
        g(id="Layer_1" transform="translate(0, 0)")
          path(class="logo-poly" d="M0,310.667 L64,347.667 L64,445.533 L0,482.333 L0,310.667 z" fill="#586086")
          path(class="logo-poly" d="M0,37.333 L64,0 L64,171.667 L0,210.819 L0,37.333 z" fill="#39B7C4")
          path(class="logo-poly" d="M0,310.667 L237,174.067 L300.941,210.819 L64,347.667 z" fill="#39B7C4")
          path(class="logo-poly" d="M64,74.267 L64,0 L300.748,137.03 L300.941,210.819 L64,74.267 z" fill="#C9518A")
          path(class="logo-poly" d="M0,482.333 L237,345.733 L300.941,382.486 L64,519.333 z" fill="#C9518A")
          path(class="logo-poly" d="M0,210.819 L64,171.667 L300.748,308.697 L300.941,382.486 L0,210.819 z" fill="#586086")
          path(class="logo-poly" d="M0,210.819 L64,247.375 L64,273.875 L0,310.667 L0,210.819 z" fill="#C9518A")
    .title
      h1
        a(href="/") bildepunkt
      
      nav
        ul
          li
            a(href="//github.com/bildepunkt")
              i(class="fa fa-github fa-2x" aria-hidden="true" aria-label="navigate to github")
          li
            a(href="labs")
              i(class="fa fa-codepen fa-2x" aria-hidden="true" aria-label="navigate to codepen")
          li
            a(href="//twitter.com/c_concat_p")
              i(class="fa fa-insta fa-2x" aria-hidden="true" aria-label="navigate to twitter")
