- var logoWidth = 153
- var logoHeight = 264
- var email = "bildepunkt@gmail.com"

header
  .hero
    .logo
      svg#svgLogo(version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width=(logoWidth * 2) height=(logoHeight * 2))
        g(transform="translate(" + logoWidth + ", " + (logoHeight * 2) + ")")
          path(d="M-77,-106.074 L-44.462,-87.266 L-44.462,-37.516 L-77,-18.809 L-77,-106.074 z" fill="#586086")
          path(d="M-77,-245.022 L-44.462,-264 L-44.462,-176.734 L-77,-156.831 L-77,-245.022 z" fill="#39B7C4")
          path(d="M-77,-106.074 L43.492,-175.514 L76,-156.831 L-44.462,-87.266 z" fill="#39B7C4")
          path(d="M-44.462,-226.247 L-44.462,-264 L75.902,-194.342 L76,-156.831 L-44.462,-226.247 z" fill="#C9518A")
          path(d="M-77,-18.809 L43.492,-88.249 L76,-69.566 L-44.462,0 z" fill="#C9518A")
          path(d="M-77,-156.831 L-44.462,-176.734 L75.902,-107.076 L76,-69.566 L-77,-156.831 z" fill="#586086")

    .title
      h1
        a(href="#?oh=hai") #{title}

      .links
        a(href="//github.com/bildepunkt" title="code")
          span.fa-stack.fa-1x
            i.fas.fa-circle.fa-stack-2x
            i.fas.fa-code-branch.fa-stack-1x.stacked-icon
        a(href="mailto:" + email + "?subject=from: bildepunkt.com" title=email)
          span.fa-stack.fa-1x
            i.fas.fa-circle.fa-stack-2x
            i.fas.fa-envelope.fa-stack-1x.stacked-icon
        a(href="//www.instagram.com/bildepunkt/" title="instagram")
          span.fa-stack.fa-1x
            i.fas.fa-circle.fa-stack-2x
            i.fab.fa-instagram.fa-stack-1x.stacked-icon