header
  canvas#headerCanvas
  .hero
    .logo
      svg(id="svgLogo" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
        g
          path(class="a" d="M-102,-141.433 L-58.616,-116.354 L-58.616,-50.021 L-102,-25.078 L-102,-141.433 z" fill="#586086")
          path(class="b" d="M-102,-326.696 L-58.616,-352 L-58.616,-235.646 L-102,-209.109 L-102,-326.696 z" fill="#39B7C4")
          path(class="c" d="M-102,-141.433 L58.656,-234.019 L102,-209.109 L-58.616,-116.354 z" fill="#39B7C4")
          path(class="d" d="M-58.616,-301.663 L-58.616,-352 L101.869,-259.122 L102,-209.109 L-58.616,-301.663 z" fill="#C9518A")
          path(class="e" d="M-102,-25.078 L58.656,-117.665 L102,-92.754 L-58.616,-0 z" fill="#C9518A")
          path(class="f" d="M-102,-209.109 L-58.616,-235.646 L101.869,-142.768 L102,-92.754 L-102,-209.109 z" fill="#586086")

    .title
      h1
        a(href="#") #{title}

      .description
        | { a microscosm of geekery }
