- var title = "bildepunkt"

doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name="viewport", content="width=device-width")
    meta(name="description", content="A creative microcosm ~ The development & design portfolio of Chris Peters")
    title #{title}
    link(rel="apple-touch-icon", href="apple-touch-icon.png?v=3", sizes="180x180")
    link(rel="icon", type="image/png", href="favicon-16x16.png?v=3", sizes="16x16")
    link(rel="icon", type="image/png", href="favicon-32x32.png?v=3", sizes="32x32")
    link(rel="stylesheet", href="build/vendor/fontawesome/css/fontawesome.min.css")
    link(rel="stylesheet", href="build/vendor/fontawesome/css/brands.min.css")
    link(rel="stylesheet", href="build/vendor/fontawesome/css/solid.min.css")
    link(rel="stylesheet", href="build/vendor/pt-sans/stylesheet.css")
    link(rel="stylesheet", href="build/main.css")
  body
    include ./header.jade
    include ./footer.jade
    script(src="build/main.js")
