mixin share()
    div.share-article
        a(href="https://twitter.com/share" class="twitter-share-button" data-show-count="false" data-size="large") Tweet
        script(async src="//platform.twitter.com/widgets.js" charset="utf-8")
