
$meta-font-size = 16px

article.article
    font-family: $article-font
    letter-spacing: .01rem
    font-weight: 400
    font-style: normal
    line-height: 1.58
    letter-spacing: -.003em
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    word-wrap: break-word
    margin-bottom: 64px
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale

    header
        font-family: $sans

        h2
            font-size: 32px
            a
                text-decoration: none

    .metadata
        color: $col-accent

        a
            color: $col-accent
            text-decoration: none

            &:hover
                color: $col-accent-sec

        &:before
            font-size: $meta-font-size - 2

        &.date
            fa(clock-o)

            span
                font-size: $meta-font-size
                font-family: $sans

        &.tags
            margin-left: $meta-font-size
            fa(tags)

            span
                font-size: $meta-font-size
                font-family: $sans


@media (min-width: $mobile-width)
    article.article
        font-size: 22px

@media (max-width: $mobile-width - 1)
    article.article
        font-size: 18px