
$meta-font-size = 20px

article.article
    font-family: $article-font
    letter-spacing: .01rem
    font-weight: 400
    font-style: normal
    line-height: 1.58
    letter-spacing: -.003em
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    word-wrap: break-word
    margin-bottom: 64px
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale

    header
        font-family: $sans

        h2
            font-size: 32px

            a
                text-decoration: none

    .content h2
        margin: 16px 0;
        font-size: 32px
        font-family: $sans

    .more
        margin-top: 12px
        font-family: $sans

        a
            color: $col-accent

            &:hover, &:active
                color: $col-accent-sec

article.article, .content-wrap
    .metadata
        color: $col-accent
        margin: 0 12px 16px 0

        a
            color: $col-accent
            text-decoration: none

            &:hover
                color: $col-accent-sec

        &:before
            font-size: $meta-font-size - 2

        &.date
            fa(clock-o)

            span
                margin-left: 8px
                font-size: $meta-font-size
                font-family: $sans

        &.tags
            fa(tags)

            .tag
                font-size: $meta-font-size
                font-family: $sans
                margin-left: 8px


@media (min-width: $mobile-width)
    article.article
        font-size: 22px

@media (max-width: $mobile-width - 1)
    article.article
        font-size: 18px