
article.article
    font-family: $article-font
    letter-spacing: .01rem
    font-weight: 400
    font-style: normal
    font-size: 21px
    line-height: 1.58
    letter-spacing: -.003em
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    word-wrap: break-word
    margin-bottom: 64px
