$img-size = 96

.author
    //color: darken($col-fg, 16)
    margin-bottom: 48px

    img
        float: left
        border-radius: ($img-size / 2)px

    .text
        margin-left: ($img-size + 12)px

        .social
            margin-top: 8px

            span
                margin-right: 12px

            a
                text-decoration: none
                cursor: pointer
                color: $col-accent

            a:hover, a:active
                color: $col-accent-sec

            .twitter
                fa(twitter)

            .email
                fa(envelope)
