$img-size = 96
$social-size = 148%

.author
    //color: darken($col-fg, 16)
    margin-bottom: 48px

    img
        float: left
        border-radius: ($img-size / 2)px

    .text
        margin-left: ($img-size + 12)px

        .social
            margin-top: 8px

            span
                margin-right: 16px

            a
                text-decoration: none
                cursor: pointer
                color: $col-accent

            a:hover, a:active
                color: $col-accent-sec

            .twitter
                fa(twitter-square)
                font-size: $social-size

            .email
                fa(envelope)
                font-size: $social-size

            .github
                fa(github-square)
                font-size: $social-size
