
footer
    position: relative
    text-align: center

    .nav
        margin: 64px 0

    .copy
        margin-bottom: 24px
        font-family: $serif
        font-style: italic
        color: $col-accent-sec
        font-size: 14px