
@import "variables"

@import "article"
@import "author"
@import "content"
@import "footer"
@import "galaxy"
@import "header"

html
    background-color: $col-bg
    height: 100%
    min-height: 100%

body
    font-family: $sans
    line-height: 1.52
    text-rendering: optimizeLegibility
    background-color: $col-bg
    height: 100%
    color: $col-fg
    opacity: 0
    transition: opacity 0.5s ease
    -webkit-transition: opacity 0.5s ease
    -moz-transition: opacity 0.5s ease
    -ms-transition: opacity 0.5s ease
    -o-transition: opacity 0.5s ease

    &.all-systems-go
        opacity: 1

em
    font-style: italic
    //font-family: $serif

strong
    font-weight: 800

blockquote
    border-left: 4px solid $col-accent
    font-style: italic
    font-family: $serif
    color: $col-accent
    padding-left: 36px

a, a:visited
    transition: color 0.2s ease
    color: $col-fg
    text-decoration: underline

a:hover, a:active
    color: $col-accent
    text-decoration: underline

pre code
    font-size: 80%

code
    font-size: 80%
    font-family: $mono
    padding: 0 4px
    color: $col-accent
    background-color: rgba(64, 64, 64, 0.4)