
//$fa-font-path ?= "fonts/"
$fa-font-path ?= "//netdna.bootstrapcdn.com/font-awesome/4.5.0/fonts"

@import 'https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic|PT+Sans';
@import "../../node_modules/font-awesome-stylus/stylus/index"

$col-bg = #222
$col-fg = #ddd
$col-accent = #7e94a0
$col-accent-sec = #475b64

$sans = "PT Sans", "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", Helvetica, sans-serif
$serif = "Lora", Georgia, Times, serif
$article-font = Georgia, Cambria, "Times New Roman", Times, serif

$desktop-width = 1280px
$tablet-width = 1024px
$mobile-width = 768px
