$poly-gather-time = 1
$poly-gather-dist = 96

$abs-container()
  position: absolute
  top: 0
  left: 0

header
  text-align: center
  position: relative
  height: 100%
  width: 100%

  canvas
    $abs-container()

  .hero
    .logo
      $abs-container()
      animation: slide-down 1s, fade-in 1.4s
      transition: all 1s

      path
        transition: all 2s
        cursor: pointer

        &:hover, &.active
          fill: white

      path:nth-child(4)
        animation: gather-down ($poly-gather-time)s
      path:nth-child(1)
        animation: gather-right ($poly-gather-time)s
      path:nth-child(2)
        animation: gather-right ($poly-gather-time)s
      path:nth-child(5)
        animation: gather-left ($poly-gather-time - 0.2)s
      path:nth-child(3)
        animation: gather-left ($poly-gather-time - 0.4)s
      path:nth-child(6)
        animation: gather-left ($poly-gather-time)s

    .title
      position: absolute
      width: 100%
      top: 50%
      animation: slide-up 1s, fade-in 1.4s

      h1
        color: $col-green
        font-family: "PT Sans"
        letter-spacing: 0.1em
        font-size: 64px

        a
          transition all 1.6s
          text-decoration: none

          &:hover, &.active
            color: $col-pink

      .description
        margin: -24px 16px 0
        font-size: 28px
        font-family: "Lora"
        font-style: italic
          
      nav ul
        list-style: none
        padding: 0
        
        li
          display: inline-block
          margin: 0 16px
          
          a          
            padding: 8px
            cursor: pointer
  
            &:hover, &.active
              color: $col-green

@keyframes fade-in
  0%
    opacity: 0

@keyframes gather-down
  0%
    transform: translate(0, -($poly-gather-dist)px)

@keyframes gather-left
  0%
    transform: translate(($poly-gather-dist)px, 0)

@keyframes gather-right
  0%
    transform: translate(-($poly-gather-dist)px, 0)

@keyframes slide-down
  0%
    transform: translate(0, -($poly-gather-dist)px)
              
@keyframes slide-up
  0%
    transform: translate(0, ($poly-gather-dist)px)
