$poly-gather-time = 1
$poly-gather-dist = 96

header
  text-align: center

  @media screen and (max-height: ($media-breakpoint-height)px), screen and (max-width: 400px)
    .hero
      .logo
        margin-bottom: -($logo-height / 2)px
        opacity: 0.2

      .title
        h1
          display: none

        div.links
          margin: -60px 0 0

  @media screen and (max-width: 400px)
    .hero
      .title
        div.links
          margin: -166px 0 0
          a
            display: block

  .hero
    .logo
      animation: slide-up 1s, fade-in 1.4s
      bottom: 50%
      position: absolute
      transition: all 1s
      width: 100%

      path
        transition: all 2s
        cursor: pointer

        &:hover, &.active
          fill: white

      path:nth-child(4)
        animation: gather-down ($poly-gather-time)s
      path:nth-child(1)
        animation: gather-right ($poly-gather-time)s
      path:nth-child(2)
        animation: gather-right ($poly-gather-time)s
      path:nth-child(5)
        animation: gather-left ($poly-gather-time - 0.2)s
      path:nth-child(3)
        animation: gather-left ($poly-gather-time - 0.4)s
      path:nth-child(6)
        animation: gather-left ($poly-gather-time)s

    .title
      position: absolute
      top: 50%
      transition: opacity 1s
      width: 100%

      h1
        animation: title-slide-down 1s, fade-in 1.4s
        color: $col-green
        font-size: 64px
        letter-spacing: 0.1em

      .links
        animation: links-slide-down 1.1s, fade-in 1.4s
        font-size: 42px
        line-height: 42px
        margin: -26px 0 0

        a
          display: inline-block
          margin: 0 12px
          padding: 12px 2px

          i.stacked-icon
            color: $col-bg

@keyframes fade-in
  0%
    opacity: 0

@keyframes gather-down
  0%
    transform: translate(0, -($poly-gather-dist)px)

@keyframes gather-left
  0%
    transform: translate(($poly-gather-dist)px, 0)

@keyframes gather-right
  0%
    transform: translate(-($poly-gather-dist)px, 0)

@keyframes title-slide-down
  0%
    transform: translate(0, -128px)

@keyframes links-slide-down
  0%
    transform: translate(0, -196px)
              
@keyframes slide-up
  0%
    transform: translate(0, 256px)
