$col-pink = #C9518A
$col-green = #39B7C4
$col-blue = #586086
$col-bg = #2F3238
$col-fg = #b5c0c7

$logo-height = 264
$media-breakpoint-height = 640

@import "header"
@import "footer"

html
  min-height: 100%
  ::selection
    background: $col-pink

  body
    margin: 0
    background-color: $col-bg
    color: $col-fg
    
    a, a:visited
      color: inherit
      transition: all 0.2s
      
    a:hover
      color: $col-green
